streamlit
pandas
pdfplumber
numpy==1.26.4
spacy==3.7.2
sentence-transformers
pysqlite3-binary
requests
bs4
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl
